.ReactModal__Content {
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.2s ease;

  border: none;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 0 0;

  background-color: var(--background);
  color: var(--texts);

  overflow-y: auto;
  outline: none;
}

.ReactModal__Overlay {
  background-color: hsla(0, 0%, 7%, 0.932);
  inset: 0;
  position: fixed;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(100px);
  pointer-events: none;
}