.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
  font-weight: bold;
}

.container_text {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  width: 530px;
  gap: 20px;
}

.container_text h2 {
  font-weight: 700;
  color: #000;
}

.container_text button {
  width: 200px;
  height: 55px;
  border-radius: 11.038px;
  background: #763c28;
  color: #f5f5f5;
  border: none;
}

.container_text button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.image img {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 920px) {
  .container {
    gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container_text {
    width: 100%;
  }

  .container_text p {
    font-size: 18px;
  }

  .image img {
    width: 300px;
    height: 300px;
  }
}
