@keyframes autoShow {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.8);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.auto-show {
  opacity: 0;
  animation-name: autoShow;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-timeline: view();
}

@keyframes headerFadein {
  from {
    opacity: 0;
    transform: translateY(30px) translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0) translateX(-50%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-fadein {
  animation: headerFadein 0.5s 0.2s ease forwards;
}
