@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./animations.css);

:root {
  --primary: #BB6B4F;
  --secondary: #011D35;
  --background: #F7F7FA;
  --menu-bg: #f5b660;

  --insta-primary: #FF3867;
  --insta-bg-gradient: linear-gradient(90deg, #FFAA40 0%, #FF3867 50%, #B937AE 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary);
  background-color: var(--background);
  height: 100%;
  width: 100%;
}

section {
  padding: 0 2rem;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}
